

*{
        margin:0; 
        padding:0;
        box-sizing: 
        border-box;
        text-decoration: none;
        outline: none; 
        border:none;
        transition: all .2s linear;
}

html{
        font-size: 60%;
        overflow-x: hidden;
        scroll-padding-top: 5.5rem;
        scroll-behavior: smooth;
}

section{
        padding: 1rem 8%;
}

section:nth-child(even){
        background:#fff;
}

header{
        /* position: fixed; */
        top: 0; left: 0; right:0;
        background: #fff;
        padding: 3rem 6%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
}

header .navbar a{
        font-family: Open Sans;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: -0.03em;
        padding: 0.5rem 2.5rem;
        
        color: #77A4E5;
}

header .navbar a:hover{
        font-family: Open Sans;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: -0.03em;
        padding: 0.5rem 2.5rem;
        
        color: #2B478B;
}


header .navbar a.active,
header .navbar a:hover{
        color:#fff;
        background: #2B478B;

        border-radius: 5px;
}

.logo{
        width: 880px;
        height: 50px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.2em;
        color: #466AA5;
        margin-bottom: 2px;
}

#bank-logo{
        cursor: pointer;
        height: 50px;
}



.pop-up-overlay{
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background:rgba(0,0,0,.8);
    transition: 0.3;
    opacity: 0;
    z-index: -1;
    height:100%; width:100%;
    user-select: none;
}

.pop-up-box-container{
    background-color: #fdfdfd;
    width: 400px;
    height: 45vh;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.check-container i{
    height:4.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-size: 12rem;
    color: #191E56;
    opacity: 0.9;
    margin: 50px;
    padding: 15px;
}

.pop-up-message-container{
    color: #153077;
    font-size: 2rem;
    padding-bottom: .5rem;
    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
}

.ok-btn{
    margin-top: 1rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: rgba(21, 48, 119, 0.8);
    border-radius: .5rem;
    cursor: pointer;
    padding:.9rem 4rem;
}

.ok-btn:hover{
    margin-top: 1rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: #153077;
    border-radius: .5rem;
    cursor: pointer;
    padding:.9rem 4rem;
}

@media only screen and(max-width:400px){
    .pop-up-box-container{
        width: 300px;
    }
}

.active{
    opacity: 1;
    z-index: 1;
}










.home .home-slider .slide{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10rem; 
        padding-top: 3rem;
}

.home .home-slider .slide .content{
    flex:1 1 45rem;
}

.home .home-slider .slide .image{
    flex:1 1 30rem;
}

.home .home-slider .slide .image img{
    width: 100%;
}

.home .home-slider .slide .content span{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 65px;
        line-height: 65px;
        color: #2B478B;   
        height: 178px;
}

.home .home-slider .slide .content p{      
        margin-top: 3rem;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;       
        color: #466AA5;
        height: 65px;
}











header .icons .fas{
        color: #3053AD;
        cursor: pointer;
        margin-left: .5rem;
        height:4.5rem;
        line-height: 4.5rem;
        width:4.5rem;
        text-align: center;
        font-size: 3rem;
        border-radius: 2px;
}


header .icons .fas:hover{
    color:#2B478B;
    background-color: #eee;
    border-radius: 2px;
}

.icons #menu-bars{
    display: none;
}

    
.active{
    opacity: 1;
    z-index: 1;
}




.underline{
        text-decoration-line: underline;
        color: #2B478B;
}














#acdetails{
        background-color: #DCEAFF;
}


.acdetails .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}


.acdetails .row .content{
    flex:1 1 45rem;
}

.acdetails .row .content h3{
    padding:.5rem 0;    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 36px;   
    color: #153077;  
}

#note{       
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #FF0606;        
}

#notesmall{       
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;        
        color: #FF0606;
        padding-top: 1.5rem;
}

.acdetails .row .content p{
    padding:.5rem 0;
    line-height: 2;

    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #466AA5;
}

.acdetails .row .content .container{
    display: flex;
    flex-wrap: wrap;    
}

.acdetails .row .content .container .main-buttons p{
    cursor: pointer;
    margin-right: 0.1rem;
    padding: 1.5rem 8.17rem;
    color: #FFFFFF; 
    outline: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;  
    background: rgba(21, 48, 119, 0.8);
}

.acdetails .row .content .container .main-buttons p:hover{
    cursor: pointer;
    margin-right: 0.1rem;
    padding: 1.5rem 8.17rem;
    color: #FFFFFF; 
    outline: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;  
    background: #153077;
}

.acdetails .row .content .container .main-buttons p.activebtn,
.acdetails .row .content .container .main-buttons p:hover{

        cursor: pointer;
        margin-right: 0.1rem;
        padding: 1.5rem 8.17rem;
        color: #FFFFFF; 
        outline: none;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 36px;  
        background: #153077;
}

.activebtn{
        opacity: 1;
        z-index: 1;
}
    

.white-box{
        background-color: white;
        padding: 6rem;
        /* flex:1 1 45rem; */
        width: 100%;
}


.heading{

        text-align: center;
        padding: 2rem;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 36px;
        
        color: #191E56;   
}


.acdetails .row .content .container .white-box .personal{
    display: flex;
    flex-wrap: wrap;
    font-family: Open Sans;
    padding-top: 2rem;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    list-style-type: none;
    gap: 3rem;
    color: #153077;
}


.acdetails .row .content .container .white-box .contact{
        display: flex;
        flex-wrap: wrap;
        font-family: Open Sans;
        padding-top: 2rem;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        list-style-type: none;
        gap: 3rem;
        color: #153077;
}
    
.acdetails .row .content .container .white-box .uploads{
        display: flex;
        flex-wrap: wrap;
        font-family: Open Sans;
        padding-top: 2rem;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        list-style-type: none;
        gap: 3rem;
        color: #153077;
}

.acdetails .row .content .container .white-box .terms{
        display: flex;
        flex-wrap: wrap;
        font-family: Open Sans;
        padding-top: 2rem;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        list-style-type: none;
        gap: 3rem;
        color: #153077;
}


.acdetails .row .content .container .white-box .terms .terpol{
        height: 324px;
        padding: 20px 20px;
        display: flex;
        flex-wrap: wrap;   
        background: rgba(196, 196, 196, 0.3);
        border-radius: 4px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.5);
        overflow: scroll;
}


.condition{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 36px;       
        color: #153077;
}

.btn-box .submit{
        width: 151px;
        outline: none;
        margin-top: 9rem;
        margin-left: 26rem;

        background: #2B478B;
        border-radius: 4px;      
}

.btn-box .submit:hover{
        width: 151px;
        outline: none;

        background: #153077;
        border-radius: 4px;      
}


#SUB{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 36px;
        color: #FFFFFF; 
}

.acdetails .row .content .container .white-box .details{
        height: 40px;
        width: 32rem;
        outline: none;
        border: none;
        display: flex;
        padding: 0px 15px;
        
        background: rgba(196, 196, 196, 0.3);
        border-radius: 4px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;       
        
        color: rgba(0, 0, 0, 0.5); 
}

.acdetails .row .content .container .white-box .details:hover{
        height: 40px;
        width: 32rem;
        outline: none;
        border: none;
        display: flex;
        /* padding: 0px 15px; */
        background: #DCEAFF;
        border-radius: 4px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;       
        
        color: rgba(0, 0, 0, 0.5); 
}















/* media queries  */

@media (max-width:991px){

        html{
            font-size: 55%;
        }
        
        header{
            padding:1rem 2rem;
        }
    
        section{
            padding:2rem;
        }
    
    }

@media (max-width:768px){

        header .icons #menu-bars{
            display: inline-block;
        }
    
        header .navbar{
                position: absolute;
                top: 10%; left: 0; right: 0;
                background: #fff;
                border-top: .1rem solid rgba(0,0,0,.2);
                border-bottom: .1rem solid rgba(0,0,0,.2);
                padding: 1rem;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }

        header .navbar.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        header .navbar a{
                display: block;
                padding: 1.5rem;
                margin: 1rem;
                font-size: 2rem;
                background: #eee;
        }

        header .navbar a:hover{
                display: block;
                padding: 1.5rem;
                margin: 1rem;
                font-size: 2rem;
                color: #fff;
                background: #2B478B;
        }

        .btn-box .submit{
                margin-top: 8rem;
                margin-left: 0rem;      
        }



        .acdetails .row .content .container{
                display: flex;
                flex-wrap: wrap;    
            }
            
            .acdetails .row .content .container .main-buttons p{
                cursor: pointer;
                padding: 2rem 24rem;
                color: #FFFFFF; 
                outline: none;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 26px;  
                background: rgba(21, 48, 119, 0.8);
            }
            
            .acdetails .row .content .container .main-buttons p:hover{
                cursor: pointer;
                padding: 2rem 24rem;
                color: #FFFFFF; 
                outline: none;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 26px;  
                background: #153077;
            }
            
            .acdetails .row .content .container .main-buttons p.activebtn,
            .acdetails .row .content .container .main-buttons p:hover{
            
                    cursor: pointer;
                    padding: 2rem 24rem;
                    color: #FFFFFF; 
                    outline: none;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 26px;  
                    background: #153077;
            }

}

@media (max-width:991px){

        html{
            font-size: 50%;
        }
}